<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список сотрудников</title>
</head>
<body>
    <h1>Список сотрудников</h1>
    <div>
        <% 
            var query = "for $collaborator in /collaborators return $collaborator/fullname";
            var employees = xquery(query); 
        %>
        <%= 
            employees.map(function(employee) {
                return employee + '<br>';
            }).join('');
        %>
    </div>
</body>
</html>
